<configuration>
	<packageSources>
		<add key="HangfirePro" value="SOURCEURL" />
	</packageSources>
	<packageSourceCredentials>
		<HangfirePro>
			<add key="Username" value="USERNAME" />
			<add key="ClearTextPassword" value="PASSWORD" />
		</HangfirePro>
	</packageSourceCredentials>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="HangfirePro">
			<package pattern="Hangfire.Pro" />
			<package pattern="Hangfire.Pro.*" />
		</packageSource>
	</packageSourceMapping>
</configuration>